NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_URL=
# Production example:
# NEXT_PUBLIC_API_URL=https://api.domain.com
# NEXT_PUBLIC_SITE_URL=https://domain.com
# NEXT_PUBLIC_ADMIN_URL=https://admin.domain.com
